<section class="">
  <!-- Footer -->
  <footer class="bg-secondary text-white text-center" style="background-color: rgb(0, 0, 0);">
    <!-- Grid container -->


    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgb(0, 0, 0);">
      <p>
        <small class="follow-text">Acompanhe-nos pelas redes sociais  </small> <label class="footer-right">
            <i class="fab fa-instagram"> @gilton__cs   </i>
            <i class="fab fa-instagram">  @maycondouglas27</i>
        </label>
    </p>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>
