<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<section>
  <div class="col col-md-4">
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top " style="background-color: #0A1437">
        <div class="container-fluid">
          <a class="navbar-brand" href="/gerencia"><img src="assets/+perto-cabeçario.png" Width="120" Height="43" /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="/gerencia">GERÊNCIA ESTABELECIMENTO</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a routerLink="/produtos-vendidos" style="color:rgb(255, 255, 255)" class="nav-link"
                  >Vendas</a
                >
              </li>
              <li class="nav-item">
                <a routerLink="/meusprodutos" style="color:rgb(255, 255, 255)" class="nav-link"
                  >Produtos</a
                >
              </li>
              <li class="nav-item" >
                <a (click)="logout()" class="nav-link" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                    height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z" />
                    <path fill-rule="evenodd"
                      d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z" />
                  </svg></a>
              </li>

            </ul>
            <!--
            <form class="d-flex">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Pesquise"
                aria-label="Pesquise"
              />
              <button class="btn btn-outline-success" type="submit">
                Pesquise
              </button>
            </form>-->
          </div>
        </div>
      </nav>
    </header>
  </div>
</section>


<div class="grid p-fluid" novalidate [formGroup]="formulario">

  <div class="field col-12">
    <h4>Novo Produto</h4>
  </div>
  <div class="field col-12">

    <img [src]="imagemProduto" height=220px width=250px>

    <p-fileUpload  mode="basic" chooseLabel="Carregar"  [customUpload]="true" accept="image/*" (onSelect)="onFileChange($event)" (uploadHandler)="uploadImagem($event)"></p-fileUpload>

  </div>

  <div class="field col-4">
    <span class="p-float-label">
      <input type="text" id="inputtext" pInputText formControlName="nome">
      <label for="inputtext">Nome do Produto</label>
    </span>
  </div>

  <div class="field col-4">
    <span class="p-float-label">
      <p-inputNumber inputId="inputnumber" formControlName="quantidadeEstoque"></p-inputNumber>
      <label for="inputnumber">Qtd. Estoque</label>
    </span>
  </div>


  <div class="field col-4">
    <span class="p-float-label">
      <input type="text" id="inputtext" pInputText formControlName="sku">
      <label for="inputtext">SKU</label>
    </span>
  </div>

  <div class="field col-4">
    <span class="p-float-label">
      <p-inputNumber inputId="locale-user"   mode="decimal" locale="en-PT" [maxFractionDigits]="2" formControlName="preco"></p-inputNumber>
      <label for="inputtext">Preço</label>
    </span>
  </div>

  <div class="field col-4">
    <span class="p-float-label">
      <input type="text" id="inputtext" pInputText formControlName="marca">
      <label for="inputtext">Marca</label>
    </span>
  </div>

  <div class="field col-4">
    <span class="p-float-label">
      <input type="text" id="inputtext" pInputText formControlName="descricao">
      <label for="inputtext">Descrição</label>
    </span>
  </div>

  <div class="field col-4">
    <span class="p-float-label">
      <p-dropdown [options]="unidades" formControlName="unidadeMedida" optionLabel="label"
        optionValue="value"></p-dropdown>
      <label for="inputnumber">Unidade Medida</label>
    </span>
  </div>

  <div class="field col-4">
    <span class="p-float-label">
      <p-dropdown [options]="situacoes" formControlName="ativo" optionLabel="label"
        optionValue="value"></p-dropdown>
      <label for="inputnumber">Situação</label>
    </span>
  </div>

  <div class="field col-4">
    <span class="p-float-label">
      <p-dropdown [options]="simNao" formControlName="situacao" optionLabel="label"
        optionValue="value"></p-dropdown>
      <label for="inputnumber">Ativo</label>
    </span>
  </div>

  <div class="field col-6">
    <span class="p-float-label">
      <p-autoComplete formControlName="categoriaProduto" (completeMethod)="buscarTipo($event)"
        [suggestions]="tipoProduto" ariaLabel="tipoProduto" dropdownAriaLabel="" field="nome">
      </p-autoComplete>
      <label for="inputnumber">Categoria Produto</label>
    </span>
  </div>

</div>

<div class="grid p-fluid">
  <div class="field col-3">
    <p-button label="Salvar" (onClick)=" adicionarProduto()" styleClass="p-button-sm"></p-button>
  </div>

  <div class="field col-3">
    <button pButton pRipple type="button" routerLink="/meusprodutos" styleClass="p-button-sm" label="Cancelar"
      class="p-button-text p-button-plain"></button>

  </div>
</div>

