<div class="grid p-fluid" novalidate [formGroup]="formulario">

  <div class="field col-12">
          
    <img [src]="imagemProduto">
    
    <p-fileUpload mode="basic"  [customUpload]="true" accept="image/*" (onSelect)="onFileChange($event)" (uploadHandler)="uploadImagem($event)"></p-fileUpload>
        
  </div>
    
  <div class="field col-4">
    <span class="p-float-label">
      <input type="text" id="inputtext" pInputText formControlName="nome">
      <label for="inputtext">Nome do Produto</label>
    </span>
  </div>

  <div class="field col-4">
    <span class="p-float-label">
      <p-inputNumber inputId="inputnumber" formControlName="quantidadeEstoque"></p-inputNumber>
      <label for="inputnumber">Qtd. Estoque</label>
    </span>
  </div>


  <div class="field col-4">
    <span class="p-float-label">
      <input type="text" id="inputtext" pInputText formControlName="sku">
      <label for="inputtext">SKU</label>
    </span>
  </div>

  <div class="field col-4">
    <span class="p-float-label">
      <p-inputNumber inputId="inputnumber" formControlName="preco"></p-inputNumber>
      <label for="inputtext">Preço</label>
    </span>
  </div>

  <div class="field col-4">
    <span class="p-float-label">
      <input type="text" id="inputtext" pInputText formControlName="marca">
      <label for="inputtext">Marca</label>
    </span>
  </div>

  <div class="field col-4">
    <span class="p-float-label">
      <input type="text" id="inputtext" pInputText formControlName="descricao">
      <label for="inputtext">Descrição</label>
    </span>
  </div>

  <div class="field col-4">
    <span class="p-float-label">
      <p-dropdown [options]="unidades" formControlName="unidadeMedida" optionLabel="label"
        optionValue="value"></p-dropdown>
      <label for="inputnumber">Unidade Medida</label>
    </span>
  </div>

  <div class="field col-4">
    <span class="p-float-label">
      <p-dropdown [options]="situacoes" formControlName="ativo" optionLabel="label"
        optionValue="value"></p-dropdown>
      <label for="inputnumber">Situação</label>
    </span>
  </div>

  <div class="field col-4">
    <span class="p-float-label">
      <p-dropdown [options]="simNao" formControlName="situacao" optionLabel="label"
        optionValue="value"></p-dropdown>
      <label for="inputnumber">Ativo</label>
    </span>
  </div>

  <div class="field col-6">
    <span class="p-float-label">
      <p-autoComplete formControlName="categoriaProduto" (completeMethod)="buscarTipo($event)"
        [suggestions]="tipoProduto" ariaLabel="tipoProduto" dropdownAriaLabel="" field="nome">
      </p-autoComplete>
      <label for="inputnumber">Categoria Produto</label>
    </span>
  </div>

</div>

<div class="grid p-fluid">
  <div class="field col-3">
    <p-button label="Salvar" (onClick)=" adicionarProduto()" styleClass="p-button-sm"></p-button>
  </div>

  <div class="field col-3">
    <button pButton pRipple type="button" styleClass="p-button-sm" label="Cancelar"
      class="p-button-text p-button-plain"></button>

  </div>
</div>