<html>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<body>
  <section>
    <div class="col col-md-4">
      <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top " style="background-color: #0A1437">
          <div class="container-fluid">
            <a class="navbar-brand" href="/gestao"><img src="assets/+perto-cabeçario.png" Width="120" Height="43" /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="/gestao">GESTÃO</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav me-auto mb-2 mb-md-0">

                <li class="nav-item">
                  <a routerLink="/coletas" style="color:rgb(255, 255, 255)" class="nav-link" href="#"
                    >Coletas</a
                  >
                </li>

                <li class="nav-item">
                  <a routerLink="/venda-lista" style="color:rgb(255, 255, 255)" class="nav-link" href="#"
                    >Entregas</a
                  >
                </li>


                <li class="nav-item">
                  <a routerLink="/tipoestabelecimento" style="color:rgb(255, 255, 255)" class="nav-link"
                    >Categorias de Estabelecimento</a
                  >
                </li>
                <li class="nav-item">
                  <a routerLink="/estabelecimento" style="color:rgb(255, 255, 255)" class="nav-link" href="#"
                    >Estabelecimentos</a
                  >
                </li>
                <li class="nav-item">
                  <a routerLink="/tipoproduto" style="color:rgb(255, 255, 255)" class="nav-link" href="#"
                    >Categorias de Produtos</a
                  >
                </li>
                <li class="nav-item" >
                  <a (click)="logout()" class="nav-link" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                      height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                        d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z" />
                      <path fill-rule="evenodd"
                        d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z" />
                    </svg></a>
                </li>

              </ul>
              <!--
            <form class="d-flex">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Pesquise"
                aria-label="Pesquise"
              />
              <button class="btn btn-outline-success" type="submit">
                Pesquise
              </button>
            </form>-->
            </div>
          </div>
        </nav>
      </header>
    </div>
  </section>
<br>
<br>
<br>
<section>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
						<h2>Todos <b>Estabelecimentos</b></h2>
					</div>
					<div class="col-sm-6">
						<a [routerLink]="'formulario'" class="btn btn-primary" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Adicionar Estabelecimento</span></a>
					</div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>

                        <th>#</th>
                        <th>Nome</th>
                        <th>Fantasia</th>
                        <th>CNPJ</th>
                        <th>Telefone</th>
                        <th>Bairro</th>
                        <th>CPF</th>
                        <th>Categoria</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                    <tr *ngFor="let estabelecimento of estabelecimento">
                        <td>{{ estabelecimento.id}}</td>
                        <td>{{ estabelecimento.nome}}</td>
                        <td>{{estabelecimento.nomeFantasia}}</td>
                        <td>{{estabelecimento.cnpj}}</td>
                        <td>{{estabelecimento.telefone}}</td>
                        <td>{{estabelecimento.bairro}}</td>
                        <td>{{estabelecimento.cep}}</td>
                        <td>{{estabelecimento.tipoEstabelecimento.nome}}</td>
                        <td>
                            <a (click)="atualizarEstabelecimento(estabelecimento.id)" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                            <a (click)=" deletarEstabelecimento(estabelecimento)" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                        </td>
                    </tr>

                </tbody>
            </table>
            </div>
            </div>
            </section>
