<div class="botaototal">
  <button [routerLink]="'formulario'" type="button" class="btn btn-success btn-lg btn-block">+ Adicionar Novo Estabelecimento</button>
</div>
<br>

<!--listagem das categorias-->
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Fantasia</th>
      <th scope="col">CNPJ</th>
      <th scope="col">Telefone</th>
      <th scope="col">Bairro</th>
      <th scope="col">CEP</th>
      <th scope="col">Categoria</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let estabelecimento of estabelecimento">
      <th>{{estabelecimento.id}}</th>
      <td>{{estabelecimento.nome}}</td>
      <td>{{estabelecimento.nomeFantasia}}</td>
      <td>{{estabelecimento.cnpj}}</td>
      <td>{{estabelecimento.telefone}}</td>
      <td>{{estabelecimento.bairro}}</td>
      <td>{{estabelecimento.cep}}</td>
      <td>{{estabelecimento.tipoEstabelecimento.nome}}</td>
      <td><button type="button" class="btn btn-warning" (click)="atualizarEstabelecimento(estabelecimento.id)">Editar</button>&nbsp;
          <button type="button" class="btn btn-danger" (click)="deletarEstabelecimento(estabelecimento)">Remover</button></td>
    </tr>
  </tbody>
</table>
