<!--botão para adicionar outra categoria-->
<div class="botaototal">
  <button [routerLink]="'formulario'" type="button" class="btn btn-success btn-lg btn-block">+ Adicionar Nova Categoria</button>
</div>
<br>

<!--listagem das categorias-->
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>teste</th>
      <td>{{ teste</td>
      <td><button type="button" class="btn btn-warning"  >Editar</button>&nbsp;
          <button type="button" class="btn btn-danger" >Remover</button></td>
    </tr>
  </tbody>
</table>

