<html>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<section>
  <div class="col col-md-4">
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top " style="background-color: #0A1437">
        <div class="container-fluid">
          <a class="navbar-brand" href="/gestao"><img src="assets/+perto-cabeçario.png" Width="120" Height="43" /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/gestao">GESTÃO</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">

              <li class="nav-item">
                <a routerLink="/coletas" style="color:rgb(255, 255, 255)" class="nav-link" href="#"
                  >Coletas</a
                >
              </li>

              <li class="nav-item">
                <a routerLink="/venda-lista" style="color:rgb(255, 255, 255)" class="nav-link" href="#"
                  >Entregas</a
                >
              </li>


              <li class="nav-item">
                <a routerLink="/tipoestabelecimento" style="color:rgb(255, 255, 255)" class="nav-link"
                  >Categorias de Estabelecimento</a
                >
              </li>
              <li class="nav-item">
                <a routerLink="/estabelecimento" style="color:rgb(255, 255, 255)" class="nav-link" href="#"
                  >Estabelecimentos</a
                >
              </li>
              <li class="nav-item">
                <a routerLink="/tipoproduto" style="color:rgb(255, 255, 255)" class="nav-link" href="#"
                  >Categorias de Produtos</a
                >
              </li>

            </ul>
            <!--
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Pesquise"
              aria-label="Pesquise"
            />
            <button class="btn btn-outline-success" type="submit">
              Pesquise
            </button>
          </form>-->
          </div>
        </div>
      </nav>
    </header>
  </div>
</section>
<div class="grid p-fluid" novalidate [formGroup]="formulario">


  <div class="field col-12">
    <h4>Cadastro de Nova Categoria</h4>
  </div>

  <div class="field col-8">
    <span class="p-float-label">
      <input type="text" id="inputtext" pInputText formControlName="nome">
      <label for="inputtext">Nome da Categoria</label>
    </span>
  </div>
</div>



  <div class="grid p-fluid">
    <div class="field col-3">
      <p-button label="Salvar" (onClick)=" adicionarTipoEstabelecimento()" styleClass="p-button-sm"></p-button>
    </div>

    <div class="field col-3">
      <button pButton pRipple type="button" routerLink="/tipoestabelecimento" styleClass="p-button-sm" label="Cancelar"
        class="p-button-text p-button-plain"></button>

    </div>
  </div>



