<form class="row g-3 needs-validation" novalidate [formGroup]="formulario">
  <div class="col-md-12">
    <label for="nome" class="form-label">Tipo do Estabelecimento</label>
    <input
      type="text"
      class="form-control"
      id="nome"
      placeholder="Nome do Tipo do Estabelecimento"
      formControlName="nome"
      [ngClass]="{'is-invalid': submitted && hasError('nome')}"
      required
    />
    <div class="valid-feedback">Looks good!</div>
  </div>
  <div>
    <button type="submit" class="btn btn-success" (click)="adicionarTipoEstabelecimento()">Salvar</button>
    &nbsp;
    <button type="button" class="btn btn-default" (click)="onCancel()">Cancelar</button>
  </div>
</form>
