<html>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<body>
<section>
  <div class="col col-md-4">
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" routerLink="/gestao" href="#">GESTÃO</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a routerLink="/coletas" class="nav-link" href="#"
                  >Coletas</a
                >
              </li>

              <li class="nav-item">
                <a routerLink="/venda-lista" class="nav-link" href="#"
                  >Entregas</a
                >
              </li>


              <li class="nav-item">
                <a routerLink="/tipoestabelecimento" class="nav-link"
                  >Categorias de Estabelecimento</a
                >
              </li>
              <li class="nav-item">
                <a routerLink="/estabelecimento" class="nav-link" href="#"
                  >Estabelecimentos</a
                >
              </li>
              <li class="nav-item">
                <a routerLink="/tipoproduto" class="nav-link" href="#"
                  >Categorias de Produtos</a
                >
              </li>

            </ul>

            <!--
            <form class="d-flex">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Pesquise"
                aria-label="Pesquise"
              />
              <button class="btn btn-outline-success" type="submit">
                Pesquise
              </button>
            </form>-->
          </div>
        </div>
      </nav>
    </header>
  </div>
</section>
<br>
<br>
<br>
<div class="container">
  <div class="table-wrapper">
      <div class="table-title">
          <div class="row">
              <div class="col-sm-6">
      <h2>Todas <b>Vendas</b></h2>
    </div>
<table class="table table-striped table-hover">
  <thead>
      <tr>

          <th>#</th>
          <th>Cliente</th>
          <th>Produto</th>
          <th>Estabelecimento</th>
          <th>Valor Total</th>
          <th>Data Venda</th>
          <th>Situação</th>
          <th>Entregador</th>
          <th>Confirmar Alteração</th>
      </tr>
  </thead>
  <tbody>
    <tr>
      <tr *ngFor="let venda of vendas">
          <td>{{ venda.id}}</td>
          <td>{{ venda.nomeCliente}}</td>
          <td>{{ venda.nomeProduto}}</td>
          <td>{{venda.nomeEstabelecimento}}</td>
          <td>{{venda.valorTotal | currency : 'BRL'}}</td>
          <td>{{venda.dataVenda | date: 'dd/MM/yyyy'}}</td>
          <td><p-dropdown [options]="status"  [(ngModel)]="venda.status" optionLabel="label" optionValue="value"></p-dropdown></td>
          <td><p-dropdown [options]="status1" optionLabel="label" optionValue="value"></p-dropdown></td>
          <td>
            <p-button label="Confirmar" (onClick)="mudarStatusVenda(venda)" styleClass="p-button-sm"></p-button>
          </td>

      </tr>

  </tbody>
</table>
