
<!------ Include the above in your HEAD tag ---------->
<app-head-cadastro></app-head-cadastro>
<br>
<section>
  <div class="grid p-fluid" novalidate [formGroup]="formulario">

    <div class="field col-12">
      <h4>Meu Cadastro</h4>
    </div>


    <div class="field col-4">
      <span class="p-float-label">
        <input type="text" id="inputtext" pInputText formControlName="nome">
        <label for="inputtext">Nome</label>
      </span>
    </div>

    <div class="field col-4">
      <span class="p-float-label">
        <p-inputNumber inputId="inputnumber" formControlName="cpf"></p-inputNumber>
        <label for="inputnumber">cpf</label>
      </span>
    </div>


    <div class="field col-4">
      <span class="p-float-label">
        <input type="text" id="inputtext" pInputText formControlName="dataNascimento">
        <label for="inputtext">Data Nascimento</label>
      </span>
    </div>

    <div class="field col-4">
      <span class="p-float-label">
        <input type="text" id="inputtext" pInputText formControlName="telefone">
        <label for="inputtext">Telefone</label>
      </span>
    </div>

    <div class="field col-4">
      <span class="p-float-label">
        <input type="text" id="inputtext" pInputText formControlName="cep">
        <label for="inputtext">CEP</label>
      </span>
    </div>

    <div class="field col-4">
      <span class="p-float-label">
        <input type="text" id="inputtext" pInputText formControlName="logradouro">
        <label for="inputtext">Logradouro</label>
      </span>
    </div>

    <div class="field col-4">
      <span class="p-float-label">
        <p-inputNumber inputId="inputnumber" formControlName="numero"></p-inputNumber>
        <label for="inputnumber">Numero</label>
      </span>
    </div>

    <div class="field col-4">
      <span class="p-float-label">
        <input type="text" id="inputtext" pInputText formControlName="bairro">
        <label for="inputtext">Bairro</label>
      </span>
    </div>

    <div class="field col-4">
      <span class="p-float-label">
        <input type="text" id="inputtext" pInputText formControlName="nomeMunicipio">
        <label for="inputtext">Cidade</label>
      </span>
    </div>

    <div class="field col-4">
      <span class="p-float-label">
        <input type="text" id="inputtext" pInputText formControlName="uf">
        <label for="inputtext">UF</label>
      </span>
    </div>

    <div class="field col-4">
      <span class="p-float-label">
        <input type="text" id="inputtext" pInputText formControlName="nomePais">
        <label for="inputtext">Pais</label>
      </span>
    </div>

    <div class="field col-4">
      <span class="p-float-label">
        <input type="text" id="inputtext" pInputText formControlName="complemento">
        <label for="inputtext">Complemento</label>
      </span>
    </div>

    <div class="field col-4">
      <span class="p-float-label">
        <input type="text" id="inputtext" pInputText formControlName="email" [ngClass]="{'is-invalid': submitted && hasError('email')}" required>
        <label for="inputtext">E-mail</label>
      </span>
    </div>

    <div class="field col-4">
      <span class="p-float-label">
        <input type="text" id="inputtext" pInputText formControlName="senha" [ngClass]="{'is-invalid': submitted && hasError('senha')}" required>
        <label for="inputtext">Senha</label>
      </span>
    </div>

  </div>

  <div class="grid p-fluid">
    <div class="field col-3">
      <p-button label="Salvar" (onClick)="adicionarCliente()" styleClass="p-button-sm"></p-button>
    </div>

    <div class="field col-3">
      <button pButton pRipple type="button" routerLink="/" styleClass="p-button-sm" label="Cancelar"
        class="p-button-text p-button-plain"></button>

    </div>
  </div>

</section>


