
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <section>
    <div class="col col-md-4">
      <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" routerLink="/gestao" href="#">GESTÃO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
              aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav me-auto mb-2 mb-md-0">

                <li class="nav-item">
                  <a routerLink="/cliente" class="nav-link" href="#"
                    >Coletas</a
                  >
                </li>

                <li class="nav-item">
                  <a routerLink="/venda-lista" class="nav-link" href="#"
                    >Entregas</a
                  >
                </li>


                <li class="nav-item">
                  <a routerLink="/tipoestabelecimento" class="nav-link"
                    >Categorias de Estabelecimento</a
                  >
                </li>
                <li class="nav-item">
                  <a routerLink="/estabelecimento" class="nav-link" href="#"
                    >Estabelecimentos</a
                  >
                </li>
                <li class="nav-item">
                  <a routerLink="/tipoproduto" class="nav-link" href="#"
                    >Categorias de Produtos</a
                  >
                </li>

              </ul>
              <!--
            <form class="d-flex">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Pesquise"
                aria-label="Pesquise"
              />
              <button class="btn btn-outline-success" type="submit">
                Pesquise
              </button>
            </form>-->
            </div>
          </div>
        </nav>
      </header>
    </div>
  </section>
<br>
<br>
<br>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
						<h2> <b>Clientes</b></h2>
					</div>

                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>

                        <th>#</th>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>E-MAIL</th>
                        <th>Telefone</th>
                        <th>Bairro</th>
                        <th>CEP</th>
                        <th>Dat. Nasc</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                    <tr *ngFor="let cliente of cliente">
                      <th>{{cliente.id}}</th>
                      <td>{{cliente.nome}}</td>
                      <td>{{cliente.cpf}}</td>
                      <td>{{cliente.email}}</td>
                      <td>{{cliente.telefone}}</td>
                      <td>{{cliente.bairro}}</td>
                      <td>{{cliente.cep}}</td>
                      <td>{{cliente.dataNascimento}}</td>
                        <td>
                            <a (click)="atualizarCliente(cliente.id)" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                            <a (click)="deletarCliente(cliente)" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                        </td>
                    </tr>

                </tbody>
            </table>
