
<section>
  <div class="col col-md-4">
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" routerLink="/gestao" href="#">GESTÃO</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a routerLink="/cliente" class="nav-link" href="#"
                  >Coletas</a
                >
              </li>

              <li class="nav-item">
                <a routerLink="/venda-lista" class="nav-link" href="#"
                  >Entregas</a
                >
              </li>


              <li class="nav-item">
                <a routerLink="/tipoestabelecimento" class="nav-link"
                  >Categorias de Estabelecimento</a
                >
              </li>
              <li class="nav-item">
                <a routerLink="/estabelecimento" class="nav-link" href="#"
                  >Estabelecimentos</a
                >
              </li>
              <li class="nav-item">
                <a routerLink="/tipoproduto" class="nav-link" href="#"
                  >Categorias de Produtos</a
                >
              </li>

            </ul>

            <!--
            <form class="d-flex">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Pesquise"
                aria-label="Pesquise"
              />
              <button class="btn btn-outline-success" type="submit">
                Pesquise
              </button>
            </form>-->
          </div>
        </div>
      </nav>
    </header>
  </div>
</section>

  <div class="grid p-fluid" novalidate [formGroup]="formulario">

    <div class="field col-12">
      <h4>Novo Estabelecimento</h4>
    </div>


    <div class="field col-6">
      <span class="p-float-label">
        <input type="text" id="inputtext" pInputText formControlName="nome">
        <label for="inputtext">Nome do Estabelecimento</label>
      </span>
    </div>

    <div class="field col-3">
      <span class="p-float-label">
        <p-inputNumber inputId="inputtext" formControlName="cnpj"></p-inputNumber>
        <label for="inputtext">CNPJ</label>
      </span>
    </div>

    <div class="field col-3">
      <span class="p-float-label">
        <input type="text" id="inputtext" pInputText formControlName="nomeFantasia">
        <label for="inputtext">Nome Fantasia</label>
      </span>
    </div>

    <div class="field col-3">
      <span class="p-float-label">
        <p-inputNumber inputId="inputtext" formControlName="telefone"></p-inputNumber>
        <label for="inputtext">Telefone</label>
      </span>
    </div>

    <div class="field col-3">
      <span class="p-float-label">
        <input type="text" id="inputtext" pInputText formControlName="cep">
        <label for="inputtext">CEP</label>
      </span>
    </div>

    <div class="field col-3">
      <span class="p-float-label">
        <input type="text" id="inputtext" pInputText formControlName="logradouro">
        <label for="inputtext">Logradouro</label>
      </span>
    </div>

    <div class="field col-3">
      <span class="p-float-label">
        <input type="text" id="inputnumber" pInputText formControlName="numero">
        <label for="inputnumber">Numero</label>
      </span>
    </div>

    <div class="field col-3">
      <span class="p-float-label">
        <input type="text" id="inputtext" pInputText formControlName="bairro">
        <label for="inputtext">Bairro</label>
      </span>
    </div>

    <div class="field col-3">
      <span class="p-float-label">
        <input type="text" id="inputtext" pInputText formControlName="nomeMunicipio">
        <label for="inputtext">Cidade</label>
      </span>
    </div>

    <div class="field col-3">
      <span class="p-float-label">
        <input type="text" id="inputtext" pInputText formControlName="uf">
        <label for="inputtext">UF</label>
      </span>
    </div>

    <div class="field col-3">
      <span class="p-float-label">
        <input type="text" id="inputtext" pInputText formControlName="nomePais">
        <label for="inputtext">Pais</label>
      </span>
    </div>

    <div class="field col-4">
      <span class="p-float-label">
        <input type="text" id="inputtext" pInputText formControlName="complemento">
        <label for="inputtext">Complemento</label>
      </span>
    </div>

    <div class="field col-4">
      <span class="p-float-label">
        <input type="text" id="inputtext" pInputText formControlName="email">
        <label for="inputtext">E-mail</label>
      </span>
    </div>

    <div class="field col-4">
      <span class="p-float-label">
        <input type="text" id="inputtext" pInputText formControlName="senha">
        <label for="inputtext">Senha</label>
      </span>
    </div>

    <div class="field col-6">
      <span class="p-float-label">
        <p-autoComplete formControlName="tipoEstabelecimento" (completeMethod)="buscarTipo($event)"
          [suggestions]="tipoEstabelecimento" ariaLabel="tipoEstabelecimento" dropdownAriaLabel="" field="nome">
        </p-autoComplete>
        <label for="inputnumber">Categoria Estabelecimento</label>
      </span>
    </div>

  </div>

  <div class="grid p-fluid">
    <div class="field col-3">
      <p-button label="Salvar" (onClick)=" adicionarEstabelecimento()" styleClass="p-button-sm"></p-button>
    </div>

    <div class="field col-3">
      <button pButton pRipple type="button" routerLink="/estabelecimento" styleClass="p-button-sm" label="Cancelar"
        class="p-button-text p-button-plain"></button>

    </div>
  </div>




