<div class='container-fluid'>
  <div class="card">
      <div class="heading text-center">
          <div class="head1">Junte-se a nós!</div>
          <p class="bdr"></p>
      </div>
      <div class="card-body">
          <div class="row m-0 pt-5">
              <div class="card col-12 col-md-6">
                  <div class="card-content">
                      <i class="fas fa-hand-holding-usd fa-3x"></i>
                      <div class="card-title">
                          SEJA UM VENDEDOR
                      </div>
                      <p><small>Cadastre seu negócio e enha mais uma prateleira para expor seus produtos à inumeros usuários.</small></p>
                      <div class="learn-more">
                          <p>
                              <small>
                                  Saiba mais
                                  <label><i class="fas fa-angle-right"></i></label>
                              </small>
                          </p>
                      </div>
                  </div>
              </div>
              <div class="card col-12 col-md-6">
                  <div class="card-content">
                      <i class="far fa-handshake fa-3x"></i>
                      <div class="card-title">
                          LEVE O MARKETPLACE PARA SUA CIDADE
                      </div>
                      <p><small>Sua cidade ainda não tem o Marketplace? Não Perca tempo, seja um sócio do marketplace
                        mais querido.

                      </small></p>
                      <div class="learn-more">
                          <p>
                              <small>
                                  Saiba Mais
                                  <label><i class="fas fa-angle-right"></i></label>
                              </small>
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="card-footer row m-0">
          <p>
              <label>
                  <i class="fas fa-phone fa-rotate-90 text-primary"></i>
              </label>
              Marteplace - TCC Gilton Carvalho & Mayccon Douglas</p>
          <div>
              <p>
                  <small class="follow-text">Acompanhe-nos pelas redes sociais</small> <label class="footer-right">
                      <i class="fab fa-instagram">@gilton__cs</i>
                      <i class="fab fa-instagram">@maycondouglas27</i>
                  </label>
              </p>

          </div>
      </div>

  </div>
</div>
