body {
  background-color: #195cd8;
}

.card {
  background-color: #24262b;
  color: white;
  margin-top: 50px;
  border: none;
}

.head1 {
  font-weight: 900;
  font-size: 30px;
}

.bdr {
  border-bottom: 1.5px solid #58c2dd;
  width: 65px;
  margin-right: auto;
  margin-left: auto;
}

.card-footer {
  justify-content: space-between;
  border: none;
  background: none;
  border-bottom: 0.5px solid #f7fafa;
}

.footer-right>i {
  margin-left: 15px;
}

.fa-hand-holding-usd {
  color: #FFB74D;
}

.fa-handshake {
  color: #FFB74D;
}

.card-title {
  margin-bottom: .75rem;
  font-weight: 900;
  font-size: 15px;
  margin-top: 1.75rem;
}

.learn-more {
  color: #4dafff;
}

.fa-angle-right {
  margin-left: 10px;
}

.fa-3x {
  color: #FFB74D;
}

.card-content {
  padding-right: 40px;
  padding-left: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.card-content>p {
  color: #bec9ca;
}

.heading {
  position: relative;
  top: 75px;
}

.follow-text {
  color: #9E9E9E;
}
