<html>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<body>
  <section>
    <div class="col col-md-4">
      <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top " style="background-color: #0A1437">
          <div class="container-fluid">
            <a class="navbar-brand" href="/gestao"><img src="assets/+perto-cabeçario.png" Width="120" Height="43" /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="/gestao">GESTÃO</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav me-auto mb-2 mb-md-0">

                <li class="nav-item">
                  <a routerLink="/coletas" style="color:rgb(255, 255, 255)" class="nav-link" href="#"
                    >Coletas</a
                  >
                </li>

                <li class="nav-item">
                  <a routerLink="/venda-lista" style="color:rgb(255, 255, 255)" class="nav-link" href="#"
                    >Entregas</a
                  >
                </li>


                <li class="nav-item">
                  <a routerLink="/tipoestabelecimento" style="color:rgb(255, 255, 255)" class="nav-link"
                    >Categorias de Estabelecimento</a
                  >
                </li>
                <li class="nav-item">
                  <a routerLink="/estabelecimento" style="color:rgb(255, 255, 255)" class="nav-link" href="#"
                    >Estabelecimentos</a
                  >
                </li>
                <li class="nav-item">
                  <a routerLink="/tipoproduto" style="color:rgb(255, 255, 255)" class="nav-link" href="#"
                    >Categorias de Produtos</a
                  >
                </li>

              </ul>
              <!--
            <form class="d-flex">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Pesquise"
                aria-label="Pesquise"
              />
              <button class="btn btn-outline-success" type="submit">
                Pesquise
              </button>
            </form>-->
            </div>
          </div>
        </nav>
      </header>
    </div>
  </section>

  <!-- Section-->
  <section class="py-5">
    <div class Align="right">

      Olá, <u>{{usuario.nome}}</u>!  Seja Bem-Vindo!
    </div>
    <div style="text-align: center">
      <h1><b>Resumo</b></h1>
    </div>
    <div style="background-image: url('assets/banner-hub.png')" class="w-auto p-5">
    <div class="container px-4 px-lg-5 mt-5">
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-6 row-cols-xl-4 justify-content-center">
        <div class="col mb-5">
          <div class="card h-100">
            <button (click)="irEstabelecimento()">
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">{{quantidadeEstabelecimento}}</h5>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bank"
                  viewBox="0 0 16 16">
                  <path
                    d="m8 0 6.61 3h.89a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v7a.5.5 0 0 1 .485.38l.5 2a.498.498 0 0 1-.485.62H.5a.498.498 0 0 1-.485-.62l.5-2A.501.501 0 0 1 1 13V6H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 3h.89L8 0ZM3.777 3h8.447L8 1 3.777 3ZM2 6v7h1V6H2Zm2 0v7h2.5V6H4Zm3.5 0v7h1V6h-1Zm2 0v7H12V6H9.5ZM13 6v7h1V6h-1Zm2-1V4H1v1h14Zm-.39 9H1.39l-.25 1h13.72l-.25-1Z" />
                </svg>
                <!-- Product price-->
                Estabelecimentos
              </div>
            </div>
            </button>
          </div>
        </div>
        <div class="col mb-5">
          <div class="card h-100">
            <button (click)="irColetas()">
              <!-- Product details-->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Product name-->
                  <h5 class="fw-bolder">{{quantidadeVendas}}</h5>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag"
                    viewBox="0 0 16 16">
                    <path
                      d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                  </svg>
                  <!-- Product price-->
                  Coletas
                </div>
              </div>
            </button>
          </div>
        </div>
        <div class="col mb-5">
          <div class="card h-100">
            <button (click)="irVendas()">
              <!-- Product details-->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Product name-->
                  <h5 class="fw-bolder">{{quantidadeVendas}}</h5>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16">
                    <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                  </svg>
                  <!-- Product price-->
                 Entregas
                </div>
              </div>
            </button>
          </div>
        </div>
        <div class="col mb-5">
          <div class="card h-100">
            <button (click)="irCliente()">
              <!-- Product details-->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Product name-->
                  <h5 class="fw-bolder">{{quantidadeUsuarios}}</h5>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-people-fill" viewBox="0 0 16 16">
                    <path
                      d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
                  </svg>
                  <!-- Product price-->
                  Usuários
                </div>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
